/*********************
   HTML
*********************/
html, body {
    height: 100%
}

body {
    padding-top: 0;
    background: #fff;
}

#holder {
    min-height: 100%;
    position: relative;
    margin-bottom: -71px;
}

#body {
    padding-bottom: 290px;
}

#holder > header {
    padding-top: 60px;
    margin-bottom: 20px;
}

#holder > footer {
    height: 236px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#content {
    padding-bottom: 80px;
}

#totop a {
    color: inherit;
}

#header {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

#header h1 {
    padding: 20px;
}

#menu {
    margin-bottom: 0;
    border-bottom: 0;
}

/*********************
   Misc
*********************/

.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: none;
}

.product-plan h3, .product-plan h4 {
    margin: 0;
}

.product-plan.popular h3 {
    padding: 20px 0;
}

.product-plan .price h3 small {
    vertical-align: middle;
}
