/**
 * Application StyleSheet
 */
 
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    padding-top: 60px;
}

#content {
    padding-bottom: 50px; /* same as footer height */
}

#footer {
    width: 100%;
    height: 50px; /* same as content padding-bottom */
    position: absolute;
    bottom: 0;
    left: 0;
}
